Import CSV TopAuto.json
{
  "name": "Topauto import Summer",
  "nodes": [
    {
      "parameters": {},
      "id": "62f91f1a-6ac5-48ae-a75b-482e663de753",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        112
      ]
    },
    {
      "parameters": {
        "batchSize": 30,
        "options": {}
      },
      "id": "b4a77578-5308-4327-938f-bccbc63730e1",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        432
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "97b47017-20ce-4156-b2ee-9af18fa6241b",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        608,
        432
      ],
      "webhookId": "dcd493f9-756b-4a49-ada3-479ece9db3f3",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "API import",
        "height": 359.412668227316,
        "width": 818.3707198532762,
        "color": 5
      },
      "id": "3d961f32-094c-4ff6-bdcf-8180444f4077",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -384,
        416
      ],
      "id": "751f7160-57aa-488e-a79c-09655486f380",
      "name": "Limit",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pT7YkCyYk8xSieX6",
          "mode": "list",
          "cachedResultName": "|Topauto Save Products Sub"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        352,
        432
      ],
      "id": "52dd90bc-e7a3-4e79-8b46-3194a85cf377",
      "name": "Save Item"
    },
    {
      "parameters": {
        "fileSelector": "/home/edmunds/topauto/499295_it.csv",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -784,
        416
      ],
      "id": "6dbf7fc2-3fd1-445c-8453-12dff8e2ac26",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {
          "delimiter": "|",
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -576,
        416
      ],
      "id": "ee681d7b-b3f1-434f-996e-69cabcc4d0db",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc7118b2-7089-4a6b-b975-5da6d189182f",
              "leftValue": "={{ $json.type }}",
              "rightValue": "S",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -176,
        416
      ],
      "id": "9916aaf5-3396-4c30-9827-a4297c415f6c",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "Read CSV",
        "height": 359.412668227316,
        "width": 818.3707198532762,
        "color": 5
      },
      "id": "e532b838-ffbb-46a5-9078-1c39ff3f974b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Save Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Item": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "528e5321-3990-41b1-8432-898243a49bbf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a455c2d4a675468c328e81cda23b0cba89481126802d0548184023de3c5962bf"
  },
  "id": "Ma2WEAOE5d8ksivu",
  "tags": [
    {
      "createdAt": "2025-06-11T06:18:40.487Z",
      "updatedAt": "2025-06-11T06:18:40.487Z",
      "id": "aiv3tn5BdvSE6DYH",
      "name": "topauto"
    }
  ]
}
